* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.new-book {
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #8a246d;
  color: white;
}

button.new-book:hover {
  cursor: pointer;
  background-color: #a92c86;
}

button.status {
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #f0f0f0;
}

button.status:hover {
  cursor: pointer;
  background-color: #c9c7c7;
}

button.delete {
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #B22F8D;
  color: white;
}

button.delete:hover {
  cursor: pointer;
  background-color: red;
}

.form-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

form > div {
  margin-bottom: 2px;
}

input ,
select {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
}

input[type="submit"] {
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
}

table {
  margin-top: 10px;
  width: 80%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#new-book-form {
  display: none;
  margin: 10px 10px 0 10px;
}